.dashboard{

    .status{
        .icon-shape {
            display: flex;
            align-items: center;
            justify-content: center;

            svg {
                color: #ffffff;
            }
        }
    }
}